@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
}
.parallax1 {
  background: url(img/first.jpg);
  min-height: 100%;
}
.parallax2 {
  background: url(img/second.jpg);
  min-height: 70%;
}
.parallax3 {
  background: url(img/third.jpg);
  min-height: 70%;
}
.parallax4 {
  background: url(img/fourth.jpg);
  min-height: 75%;
}
.parallax5 {
  background: url(img/fifth.jpg);
  min-height: 70%;
}
.parallax6 {
  background: url(img/sixth.jpg);
  min-height: 80%;
}
.parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6 {
  position: relative;
  opacity: .75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.heading {
  position: absolute;
  color: #fff;
  font-size: 550%;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0, 0, 10px #000;
}
.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}
.two-col {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: left;
}
section {
  overflow: auto;
  padding: 50px 80px;
}
.dark {
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
  width: 100%;
  padding: 0;
  text-align: center;
  }
}
